@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600&display=swap");

@theme {
  --font-body-lg: var(--body-lg-font-family);
  --font-body-md: var(--body-md-font-family);
  --font-body-sm: var(--body-sm-font-family);
  --font-heading-l: var(--heading-l-font-family);
  --font-heading-md: var(--heading-md-font-family);
  --font-heading-sm: var(--heading-sm-font-family);
  --font-heading-xl: var(--heading-xl-font-family);
  --font-heading-xs: var(--heading-xs-font-family);
  --font-heading-xxl: var(--heading-xxl-font-family);
  --font-label-lg: var(--label-lg-font-family);
  --font-label-md: var(--label-md-font-family);
  --font-label-sm: var(--label-sm-font-family);
  --font-title-lg: var(--title-lg-font-family);
  --font-title-md: var(--title-md-font-family);
  --font-title-sm: var(--title-sm-font-family);
  --color-hint: rgb(114 114 114);
}

@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
  
  body {
    @apply leading-[normal] m-0;
  }
}

:root {
  --body-lg-font-family: "Noto Sans", Helvetica;
  --body-lg-font-size: 16px;
  --body-lg-font-style: normal;
  --body-lg-font-weight: 400;
  --body-lg-letter-spacing: 0.5px;
  --body-lg-line-height: 24px;
  --body-md-font-family: "Noto Sans", Helvetica;
  --body-md-font-size: 14px;
  --body-md-font-style: normal;
  --body-md-font-weight: 400;
  --body-md-letter-spacing: 0.25px;
  --body-md-line-height: 20px;
  --body-sm-font-family: "Noto Sans", Helvetica;
  --body-sm-font-size: 12px;
  --body-sm-font-style: normal;
  --body-sm-font-weight: 400;
  --body-sm-letter-spacing: 0.4000000059604645px;
  --body-sm-line-height: 16px;
  --color-border-100: rgba(221, 221, 221, 1);
  --color-border-200: rgba(198, 198, 198, 1);
  --color-border-300: rgba(176, 176, 176, 1);
  --color-border-400: rgba(155, 155, 155, 1);
  --color-border-50: rgba(243, 243, 243, 1);
  --color-border-500: rgba(134, 134, 134, 1);
  --color-border-600: rgba(33, 33, 33, 1);
  --color-border100-stroke: rgba(230, 230, 230, 1);
  --color-primary-100: rgba(219, 234, 254, 1);
  --color-primary-200: rgba(191, 219, 254, 1);
  --color-primary-300: rgba(147, 197, 253, 1);
  --color-primary-400: rgba(96, 165, 250, 1);
  --color-primary-50: rgba(239, 246, 255, 1);
  --color-primary-500: #3b82f6;
  --color-primary-600: rgba(37, 99, 235, 1);
  --color-primary-700: rgba(29, 78, 216, 1);
  --color-primary-800: rgba(30, 64, 175, 1);
  --color-primary-900: rgba(30, 58, 138, 1);
  --color-primarysource: #3b82f6;
  --color-neutral-100: rgba(221, 221, 221, 1);
  --color-neutral-200: rgba(198, 198, 198, 1);
  --color-neutral-300: rgba(176, 176, 176, 1);
  --color-neutral-400: rgba(155, 155, 155, 1);
  --color-neutral-50: rgba(243, 243, 243, 1);
  --color-neutral-500: rgba(134, 134, 134, 1);
  --color-neutral-600: rgba(114, 114, 114, 1);
  --color-neutral-700: rgba(94, 94, 94, 1);
  --color-neutral-800: rgba(75, 75, 75, 1);
  --color-neutral-900: rgba(57, 57, 57, 1);
  --color-textdark: rgba(33, 33, 33, 1);
  --color-texthint: rgba(114, 114, 114, 1);
  --hint: #727272;
  --color-primary-source: #3b82f6;
  --textlight: rgba(255, 255, 255, 1);
  --textprimary: rgba(59, 130, 246, 1);
  --textsuccess: rgba(41, 163, 122, 1);
  --textwarning: rgba(225, 166, 19, 1);
  --title-lg-font-family: "Noto Sans", Helvetica;
  --title-lg-font-size: 22px;
  --title-lg-font-style: normal;
  --title-lg-font-weight: 500;
  --title-lg-letter-spacing: 0px;
  --title-lg-line-height: 28px;
  --title-md-font-family: "Noto Sans", Helvetica;
  --title-md-font-size: 16px;
  --title-md-font-style: normal;
  --title-md-font-weight: 500;
  --title-md-letter-spacing: 0.15000000596046448px;
  --title-md-line-height: 24px;
  --title-sm-font-family: "Noto Sans", Helvetica;
  --title-sm-font-size: 14px;
  --title-sm-font-style: normal;
  --title-sm-font-weight: 500;
  --title-sm-letter-spacing: 0.10000000149011612px;
  --title-sm-line-height: 20px;
}