@import "tailwindcss";

@layer base {

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }

  .font-heading-xl {
    font-family: var(--heading-xl-font-family);
    font-size: var(--heading-xl-font-size);
    font-weight: var(--heading-xl-font-weight);
    line-height: var(--heading-xl-line-height);
    letter-spacing: var(--heading-xl-letter-spacing);
  }

  .font-heading-lg {
    font-family: var(--heading-l-font-family);
    font-size: var(--heading-l-font-size);
    font-weight: var(--heading-l-font-weight);
    line-height: var(--heading-l-line-height);
    letter-spacing: var(--heading-l-letter-spacing);
  }

  .font-heading-md {
    font-family: var(--heading-md-font-family);
    font-size: var(--heading-md-font-size);
    font-weight: var(--heading-md-font-weight);
    line-height: var(--heading-md-line-height);
    letter-spacing: var(--heading-md-letter-spacing);
  }

  .font-heading-sm {
    font-family: var(--heading-sm-font-family);
    font-size: var(--heading-sm-font-size);
    font-weight: var(--heading-sm-font-weight);
    line-height: var(--heading-sm-line-height);
    letter-spacing: var(--heading-sm-letter-spacing);
  }

  .font-heading-xs {
    font-family: var(--heading-xs-font-family);
    font-size: var(--heading-xs-font-size);
    font-weight: var(--heading-xs-font-weight);
    line-height: var(--heading-xs-line-height);
    letter-spacing: var(--heading-xs-letter-spacing);
  }

  .font-body-lg {
    font-family: var(--body-lg-font-family);
    font-size: var(--body-lg-font-size);
    font-weight: var(--body-lg-font-weight);
    line-height: var(--body-lg-line-height);
    letter-spacing: var(--body-lg-letter-spacing);
  }

  .font-body-md {
    font-family: var(--body-md-font-family);
    font-size: var(--body-md-font-size);
    font-weight: var(--body-md-font-weight);
    line-height: var(--body-md-line-height);
    letter-spacing: var(--body-md-letter-spacing);
  }

  .font-body-sm {
    font-family: var(--body-sm-font-family);
    font-size: var(--body-sm-font-size);
    font-weight: var(--body-sm-font-weight);
    line-height: var(--body-sm-line-height);
    letter-spacing: var(--body-sm-letter-spacing);
  }

  .font-label-lg {
    font-family: var(--label-lg-font-family);
    font-size: var(--label-lg-font-size);
    font-weight: var(--label-lg-font-weight);
    line-height: var(--label-lg-line-height);
    letter-spacing: var(--label-lg-letter-spacing);
  }

  .font-label-md {
    font-family: var(--label-md-font-family);
    font-size: var(--label-md-font-size);
    font-weight: var(--label-md-font-weight);
    line-height: var(--label-md-line-height);
    letter-spacing: var(--label-md-letter-spacing);
  }

  .font-label-sm {
    font-family: var(--label-sm-font-family);
    font-size: var(--label-sm-font-size);
    font-weight: var(--label-sm-font-weight);
    line-height: var(--label-sm-line-height);
    letter-spacing: var(--label-sm-letter-spacing);
  }
}

:root {
  --body-lg-font-family: "Noto Sans", Helvetica;
  --body-lg-font-size: 16px;
  --body-lg-font-style: normal;
  --body-lg-font-weight: 400;
  --body-lg-letter-spacing: 0.5px;
  --body-lg-line-height: 24px;
  --body-md-font-family: "Noto Sans", Helvetica;
  --body-md-font-size: 14px;
  --body-md-font-style: normal;
  --body-md-font-weight: 400;
  --body-md-letter-spacing: 0.25px;
  --body-md-line-height: 20px;
  --body-sm-font-family: "Noto Sans", Helvetica;
  --body-sm-font-size: 12px;
  --body-sm-font-style: normal;
  --body-sm-font-weight: 400;
  --body-sm-letter-spacing: 0.4000000059604645px;
  --body-sm-line-height: 16px;
  --border-100: rgba(221, 221, 221, 1);
  --border-200: rgba(198, 198, 198, 1);
  --border-300: rgba(176, 176, 176, 1);
  --border-400: rgba(155, 155, 155, 1);
  --border-50: rgba(243, 243, 243, 1);
  --border-500: rgba(134, 134, 134, 1);
  --border-600: rgba(33, 33, 33, 1);
  --border100-stroke: rgba(230, 230, 230, 1);
  --focus-state-danger-active-shadow: 0px 0px 0px 4px rgba(183, 19, 26, 0.48);
  --focus-state-neutral-active-shadow: 0px 0px 0px 4px rgba(33, 33, 33, 0.48);
  --focus-state-primary-active-shadow: 0px 0px 0px 4px rgba(97, 58, 245, 0.48);
  --focus-state-secondary-active-shadow: 0px 0px 0px 4px rgba(147, 139, 182, 0.48);
  --focus-state-success-active-shadow: 0px 0px 0px 4px rgba(60, 151, 24, 0.48);
  --focus-state-warning-active-shadow: 0px 0px 0px 4px rgba(183, 114, 36, 0.48);
  --heading-l-font-family: "Noto Sans", Helvetica;
  --heading-l-font-size: 28px;
  --heading-l-font-style: normal;
  --heading-l-font-weight: 600;
  --heading-l-letter-spacing: 0px;
  --heading-l-line-height: 32px;
  --heading-md-font-family: "Noto Sans", Helvetica;
  --heading-md-font-size: 24px;
  --heading-md-font-style: normal;
  --heading-md-font-weight: 600;
  --heading-md-letter-spacing: 0px;
  --heading-md-line-height: 28px;
  --heading-sm-font-family: "Noto Sans", Helvetica;
  --heading-sm-font-size: 20px;
  --heading-sm-font-style: normal;
  --heading-sm-font-weight: 600;
  --heading-sm-letter-spacing: 0px;
  --heading-sm-line-height: 24px;
  --heading-xl-font-family: "Noto Sans", Helvetica;
  --heading-xl-font-size: 32px;
  --heading-xl-font-style: normal;
  --heading-xl-font-weight: 600;
  --heading-xl-letter-spacing: 0px;
  --heading-xl-line-height: 40px;
  --heading-xs-font-family: "Noto Sans", Helvetica;
  --heading-xs-font-size: 16px;
  --heading-xs-font-style: normal;
  --heading-xs-font-weight: 600;
  --heading-xs-letter-spacing: 0px;
  --heading-xs-line-height: 20px;
  --heading-xxl-font-family: "Noto Sans", Helvetica;
  --heading-xxl-font-size: 40px;
  --heading-xxl-font-style: normal;
  --heading-xxl-font-weight: 600;
  --heading-xxl-letter-spacing: 0px;
  --heading-xxl-line-height: 48px;
  --label-lg-font-family: "Noto Sans", Helvetica;
  --label-lg-font-size: 14px;
  --label-lg-font-style: normal;
  --label-lg-font-weight: 500;
  --label-lg-letter-spacing: 0.10000000149011612px;
  --label-lg-line-height: 20px;
  --label-md-font-family: "Noto Sans", Helvetica;
  --label-md-font-size: 12px;
  --label-md-font-style: normal;
  --label-md-font-weight: 500;
  --label-md-letter-spacing: 0.5px;
  --label-md-line-height: 16px;
  --label-sm-font-family: "Noto Sans", Helvetica;
  --label-sm-font-size: 11px;
  --label-sm-font-style: normal;
  --label-sm-font-weight: 500;
  --label-sm-letter-spacing: 0.5px;
  --label-sm-line-height: 16px;
  --neutral-100: rgba(221, 221, 221, 1);
  --neutral-200: rgba(198, 198, 198, 1);
  --neutral-300: rgba(176, 176, 176, 1);
  --neutral-400: rgba(155, 155, 155, 1);
  --neutral-50: rgba(243, 243, 243, 1);
  --neutral-500: rgba(134, 134, 134, 1);
  --neutral-600: rgba(114, 114, 114, 1);
  --neutral-700: rgba(94, 94, 94, 1);
  --neutral-800: rgba(75, 75, 75, 1);
  --neutral-900: rgba(57, 57, 57, 1);
  --neutralsource: rgba(33, 33, 33, 1);
  --primary-100: rgba(219, 234, 254, 1);
  --primary-200: rgba(191, 219, 254, 1);
  --primary-300: rgba(147, 197, 253, 1);
  --primary-400: rgba(96, 165, 250, 1);
  --primary-50: rgba(239, 246, 255, 1);
  --primary-500: rgba(59, 130, 246, 1);
  --primary-600: rgba(37, 99, 235, 1);
  --primary-700: rgba(29, 78, 216, 1);
  --primary-800: rgba(30, 64, 175, 1);
  --primary-900: rgba(30, 58, 138, 1);
  --primarysource: rgba(59, 130, 246, 1);
  --secondary-50: rgba(244, 243, 249, 1);
  --shadow-lg: 0px 12px 16px -4px rgba(33, 33, 33, 0.08), 0px 4px 6px -2px rgba(33, 33, 33, 0.03);
  --shadow-md: 0px 2px 8px -2px rgba(33, 33, 33, 0.04), 0px 6px 8px -2px rgba(33, 33, 33, 0.2);
  --shadow-s: 0px 1px 3px 1px rgba(33, 33, 33, 0.1), 0px 4px 4px 0px rgba(33, 33, 33, 0.12);
  --shadow-xl: 0px 24px 48px -12px rgba(33, 33, 33, 0.18);
  --shadow-xs: 0px 2px 3px 1px rgba(33, 33, 33, 0.12);
  --shadow-xxl: 0px 32px 64px -12px rgba(33, 33, 33, 0.14);
  --textdark: rgba(33, 33, 33, 1);
  --textdisabled: rgba(33, 33, 33, 0.5);
  --texterror: rgba(237, 19, 28, 1);
  --texthint: rgba(114, 114, 114, 1);
  --textlight: rgba(255, 255, 255, 1);
  --textprimary: rgba(59, 130, 246, 1);
  --textsuccess: rgba(41, 163, 122, 1);
  --textwarning: rgba(225, 166, 19, 1);
  --title-lg-font-family: "Noto Sans", Helvetica;
  --title-lg-font-size: 22px;
  --title-lg-font-style: normal;
  --title-lg-font-weight: 500;
  --title-lg-letter-spacing: 0px;
  --title-lg-line-height: 28px;
  --title-md-font-family: "Noto Sans", Helvetica;
  --title-md-font-size: 16px;
  --title-md-font-style: normal;
  --title-md-font-weight: 500;
  --title-md-letter-spacing: 0.15000000596046448px;
  --title-md-line-height: 24px;
  --title-sm-font-family: "Noto Sans", Helvetica;
  --title-sm-font-size: 14px;
  --title-sm-font-style: normal;
  --title-sm-font-weight: 500;
  --title-sm-letter-spacing: 0.10000000149011612px;
  --title-sm-line-height: 20px;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {

  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}